[Desktop Entry]
Name=Live Wallpaper
Comment=Hardware accelerated video desktop wallpaper for Zorin OS / GNOME
Exec=live-wallpaper
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
Categories=Utility;Graphics;
X-GNOME-Autostart-enabled=true
StartupNotify=false
