[Desktop Entry]
Name=WallScape
Comment=Live video & static wallpaper studio for Zorin OS / GNOME
Exec=live-wallpaper
Icon=live-wallpaper
Terminal=false
Type=Application
Categories=Utility;Graphics;Settings;
X-GNOME-Autostart-enabled=true
StartupNotify=false
